* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.logo {
    width: 120px;
    height: auto;

}

#contanier {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contanier {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px 50px;
}

.links {
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
    width: 100%;
    align-items: center;
    max-width: 200px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}



a {
    text-decoration: none;
    color: black;
}

.btn {
    color: white;
    padding: 10px 30px;
    background-color: darkcyan;
    border-radius: 15px;
}


/* section 1 */

.section1 {
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    padding: 100px;
    justify-content: space-between;
    width: 100%;
}

.leftSideSection1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.ls1 {
    padding-left: 100px;
}


.imgRightSideSection1 {
    width: 500px;
    padding-right: 100px;

}

#btnExploreSection1 {
    height: 50px;
    width: 150px;
    background-color: darkcyan;
    border-radius: 15px;
    color: white;
    font-size: 25px;
}

.h1 {
    max-width: 500px;
    width: 100%;
    font-size: 60px;
}


/* section 2 */

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.imgRightSideSection2 {
    width: 600px;

}


#btnAppStoreDiv {
    background-color: #0079E9;
    display: flex;
    gap: 10px;
    width: 220px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}


.Span1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.btnAppStoreContents {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: start;
}

.btnsSection2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#AppStoreIcon {
    width: 70px;
}


.s2 {
    padding-right: 50px;
}

.p {
    font-size: 30px;
    width: 500px;
}




/* section 3 */

.specialh1 {
    font-size: 100px;
    color: #FF7015;
}

.headerS3 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section3sp {
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

}

.forHeaderS1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 50px;
}



/* section 4 */
.section4 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px;
    background-color: #F6F6F6;

}


/* section 6 */
.section6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 200px;
    padding-top: 50px;
    background-color: #F6F6F6;
    gap: 50px;
}


.Courses {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    box-shadow: 5px 5px 10px #888888;
    padding: 50px;
    border-radius: 10px;
    gap: 20px;
}

.mainS6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.arrow {
    width: 50px;
    height: 50px;
    align-items: center;
}

.specialH1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.h1S6 {
    font-size: 50px;
}


.btnArrow {
    background-color: 888888;
    border: 0;
    box-shadow: 10px 10px 10px #888888;
}




/* footer */

#footer {
    color: white;
    display: flex;
    padding: 50px;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    background-color: #16144a;
    align-items: start;
    justify-content: center;
}




.fDiv1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

}


.fDiv2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;


}

.fDiv3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

}



.input {
    background-color: white;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;

}

.btnInput {
    display: flex;
    padding: 0px;
    color: white;
    max-width: 300px;
    width: 100%;

}

.btnf {
    border-radius: 0px 10px 10px 0px;
    background-color: #0079E9;
    border: 0px;
    max-width: 100px;
    width: 100%;
    color: white;

}

#fDiv4 {
    background-color: #eae9ff;
    border-radius: 10px;
    padding: 20px;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.fDiv4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.af {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}





.fh1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.fDivLogos img {
    width: 25px !important;
    height: 25px !important;
}


/* ------------- Become a partiner Page---------------- */


.navbarBecomeP {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

/* Become a partiner header */
#BEP {
    color: #374B9D;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#form {
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
    gap: 16px;
    padding: 28px 168px;
    border-radius: 10px;
}

.inputItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fileDiv {
    background-color: white;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.fileDiv p {
    position: absolute;
    top: 16px;
    left: 20px;
    pointer-events: none;
    color: gray;
}

.fileDiv img {
    position: absolute;
    top: 16px;
    right: 20px;
    pointer-events: none;
    width: 20px;
}



.inputItem input,
textarea {
    padding: 16px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.inputItem .file {
    padding: 13px 20px;

}

.inputItem textarea {
    resize: none;
}

.inputItem input:focus {
    border: 1px solid green;
}

.file {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.file:hover {
    cursor: pointer;
}

.select {
    padding: 16px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;

}


a {
    color: #0079E9;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






.AddLink{
    position: relative;
}
.inputImg{
    width: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    position: absolute;
    top: 10px;
    left: 130px;
}

.AddLink label{
    position: absolute;
    left: 170px;
    top: 15px;
    color: #0079E9;
}


#nextBtn{
    background-color: #0079E9;
    padding: 10px;
    border-radius: 10px;
    border: 0;
color: whiteF;
}