* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.logo {
    width: 120px;
    height: auto;

}



.contanier {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 150px;
}

.links {
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
    width: 100%;
    align-items: center;
    max-width: 200px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}



a {
    text-decoration: none;
    color: black;
}

.btn {
    color: white;
    padding: 10px 30px;
    background-color: darkcyan;
    border-radius: 15px;
}


/* section 1 */

.section1 {
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    padding: 100px;
    justify-content: space-between;
    width: 100%;
}

.leftSideSection1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.ls1 {
    padding-left: 100px;
}


.imgRightSideSection1 {
    width: 500px;
    padding-right: 100px;

}

#btnExploreSection1 {
    height: 50px;
    width: 150px;
    background-color: darkcyan;
    border-radius: 15px;
    color: white;
    font-size: 25px;
}

.h1 {
    max-width: 500px;
    width: 100%;
    font-size: 60px;
}


/* section 2 */

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.imgRightSideSection2 {
    width: 600px;

}


#btnAppStoreDiv {
    background-color: #0079E9;
    display: flex;
    gap: 10px;
    width: 220px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}


.Span1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.btnAppStoreContents {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: start;
}

.btnsSection2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#AppStoreIcon {
    width: 70px;
}


.s2 {
    padding-right: 50px;
}

.p {
    font-size: 30px;
    width: 500px;
}




/* section 3 */

.specialh1 {
    font-size: 100px;
    color: #FF7015;
}

.headerS3 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section3sp {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forHeaderS1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 50px;
}



/* section 4 */
.section4 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px;
    background-color: #F6F6F6;

}


/* section 6 */
.section6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 200px;
    padding-top: 50px;
    background-color: #F6F6F6;
    gap: 50px;
}


.Courses {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.pCourse {
    width: 100%;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    box-shadow: 5px 5px 10px #888888;
    padding: 50px;
    border-radius: 10px;
    gap: 20px;
}

.mainS6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.arrow {
    width: 50px;
    height: 50px;
    align-items: center;
}

.specialH1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.h1S6 {
    font-size: 50px;
}


.btnArrow {
    background-color: 888888;
    border: 0;
    box-shadow: 10px 10px 10px #888888;
}